@font-face {
  font-family: "Rubik-Medium";
  src: url("assets/fonts/Rubik-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik";
  src: url("assets/fonts/Rubik-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik Light";
  src: url("assets/fonts/Rubik-Light.ttf") format("truetype");
}

:root {
  --white-color: #fff;
  --pale-grey-color: #f8f8f8;
  --dark-grey-color: #484848;
  --blue-link-color: #4190b1;
  --default-black-color: #231f20;
  --red-color: #ea1c24;
  --pink-color: #e98488;
  --default-font: "Rubik";
  --default-font-light: "Rubik Light";
  --default-font-medium: "Rubik-Medium";
  --default-size-font: 16px;
  --small-size-font: 1.0625em; /* 17pc */
  --medium-size-font: 1.1875em; /* 19px */
  --large-size-font: 1.5em; /* 25px */
  --small-header-font: 2.1875em; /* 35px */
  --medium-header-font: 3.43em; /* 55px*/
  --large-header-font: 4.5em; /* 72px */
  --small-margin: 1em;
}

* {
  box-sizing: border-box;
}

body {
  font-size: var(--default-size-font);
  font-family: var(--default-font);
  color: var(--default-black-color);
}

h1 {
  font-size: var(--large-header-font);
  font-weight: normal;
}

h2 {
  font-size: var(--medium-header-font);
  font-weight: 100;
}

h3 {
  font-size: var(--small-header-font);
}

a,
button {
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

.hero,
.menu,
.design-zone {
  width: 97%;
  margin: 0 auto;
}

/* Nav bar */
.navbar {
  letter-spacing: 0.04em;
  font-size: var(--medium-size-font);
}

.navbar a:hover {
  color: var(--red-color);
}

.nav-link,
.navbar-brand,
footer a {
  letter-spacing: 0.1em;
  color: var(--default-black-color);
}

.navbar img {
  margin: 1.5em;
  height: 1.8em ;
  width: auto;
}
.navbar-icon {
  height: 1.4em !important;
  width: auto;
}

.nav-link {
  margin-right: 2.5em;
}

.navbar-collapse {
  justify-content: flex-end;
}

/* Section One - Hero */
.hero {
  color: var(--white-color);
}

.hero h1 {
  text-transform: uppercase;
  font-weight: 600;
}

.hero h3 {
  line-height: 1.5em;
  font-weight: lighter;
  margin: var(--small-margin) auto;
  width: 20em;
}

.hero button {
  color: var(--white-color);
  border: solid 0.125em var(--white-color);
  background-color: transparent;
  padding: 1em 2em;
  font-size: var(--medium-size-font);
}

.hero__container {
  background: url("../assets/hero.png") no-repeat;
  background-position: center;
  background-size: cover;
  height: 55em;
  width: 100%;
}

.hero__content {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Section 2 - Menu */
.menu {
  font-size: var(--medium-size-font);
}
.menu__group {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 3.5em 2em;
  width: 13em;
  cursor: pointer;
}

.menu h2 {
  font-family: var(--default-font-light);
}

.menu label {
  margin-top: 3em;
}

/* Section 3 - Intelligent Design Zone */

.design-zone__container {
  background-color: var(--pale-grey-color);
  padding: 6em 2em;
}

.design-zone__header {
  text-align: center;
}

.design-zone__article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 4em 0em 0em 3em;
  margin: auto 0;
  cursor: pointer;
}

.design-zone__article-img {
  width: 80%;
  height: auto;
}
.design-zone__article-wrapper {
  display: flex;
  justify-content: center;
}
.design-zone__label {
  font-size: var(--large-size-font);
  font-weight: normal;
  margin-top: 1em;
  margin-bottom: 1em;
}

.design-zone a {
  color: var(--red-color);
  font-weight: 800;
  font-size: var(--medium-size-font);
}

/* Section 4 - Partnership/Cadence and Toshiba */

.partnership {
  background: url("../assets/icons/partner-patterns.png") no-repeat;
  background-position: top left;
  background-size: 90%;
  background-color: var(--dark-grey-color);
  position: relative;
  color: var(--white-color);
  border: none;
  margin-top: 4em;
}

.partnership__logo {
  position: absolute;
  z-index: 1;
  right: 0;
}

.partnership__description {
  margin: 25em 6em 8em 6em;
}

.partnership__img {
  padding: 15em 3em;
}

.partnership label {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-size: var(--medium-size-font);
}
.partnership__description h2 {
  line-height: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.partnership p {
  font-size: var(--large-size-font);
}

.partnership button {
  color: var(--white-color);
  border: solid 0.125em var(--white-color);
  background-color: transparent;
  padding: 1em 4em;
  font-size: var(--medium-size-font);
}

/* Section 5 - Driving innovation */

.innovation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3em;
  padding-bottom: 4em;
}

.innovation h2 {
  margin: 1.5em;
}

.innovation__row {
  margin: 0 auto;
  justify-content: center;
}

.innovation__article {
  margin: 0.5em;
  padding: 0;
  position: relative;
  width: 21.25em !important;
  height: 31em;
  cursor: pointer;
}

.innovation__article-img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.innovation__article-label {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1em;
  margin: 0;
  font-size: var(--small-header-font);
  background: rgba(0, 0, 0, 0.8);
  color: var(--white-color);
}

/* Section 6 - Slider */

.slider {
  background: url("../assets/slider-bg.png") no-repeat;
  background-color: var(--pale-grey-color);
  background-position: right;
  padding-top: 7em;
  padding-bottom: 5em;
  font-size: var(--small-size-font);
}

.slider__article {
  background-color: var(--white-color);
  padding: 1.25em;
  margin: 0.5em 0.5em;
  width: 27%;
  cursor: pointer;
  box-shadow: 0.125em 0.125em 0.3em rgba(0, 0, 0, 0.25);
}

.slider__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.slider__date {
  opacity: 0.5;
  margin: 0;
  font-size: var(--small-size-font);
}

.slider__interactions-icons {
  margin-right: 1em;
}

.slider__row {
  justify-content: center;
}

/* .slider__article-img{

} */
.slider__article-img-container {
  margin: 1em auto;
}

.carousel-control-next,
.carousel-control-prev {
  display: inline-block;
  height: 2.25em !important;
  width: 2.25em !important;
  margin: auto;
  margin-left: 1em;
  margin-right: 1em;
}

.slider__bg-img {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: auto;
}

/* Section 7 - footer */
.footer {
  background: url("../assets/footer-bg.png") no-repeat;
  background-position: top;
  background-size: 120%;
  background-color: var(--dark-grey-color);
  color: var(--white-color);
  padding: 5em;
  font-size: var(--small-size-font);
}

.footer input {
  width: 100%;
}

.footer a {
  color: var(--blue-link-color);
}

.footer__workplace-img {
  text-align: right;
  align-items: flex-end;
  width: auto;
}

.footer__workplace {
  display: flex;
  flex-direction: row;
}
.footer a:hover {
  color: var(--red-color);
}

.footer ul {
  list-style-type: none;
  padding-left: 0;
}

.footer__subscribe {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer__email-star {
  color: var(--red-color);
}

.footer__button {
  background-color: #00b7fb;
  padding: 0.5em 1em;
  color: var(--white-color);
  border: none;
  margin-top: 0.5em;
}

.footer__subcribe-row {
  margin-top: 1.5em;
}

/* CSS state */
button {
  transition: 0.3s;
}

button:hover {
  background-color: var(--white-color);
  color: var(--default-black-color);
}

.innovation-hover {
  background-color: var(--white-color);
  color: var(--default-black-color);
  opacity: 0.8;
}

.slider__interactions-icons:hover {
  color: var(--red-color);
}

@media screen and (max-width: 1600px) {
  :root {
    --default-size-font: 10px;
    --small-size-font: 14px;
    --medium-size-font: 16px;
    --large-size-font: 18px;
    --small-header-font: 18px;
    --medium-header-font: 28px;
    --large-header-font: 32px;
  }
  .menu__group-icon {
    width: 50px;
    height: auto;
  }

  .menu__container {
    padding: 0 4em;
  }

  .design-zone__container {
    padding: 6em 6em;
  }

  .partnership__img {
    width: 80%;
    height: auto;
    /* display: none; */
  }

  .partnership__logo img {
    height: 80px;
    width: auto;
  }

  .innovation__pattern-img {
    height: 100px;
    width: auto;
  }

  .carousel-control-next,
  .carousel-control-prev {
    height: 1em !important;
    width: 1em !important;
  }
}

@media screen and (max-width: 990px) {
  .partnership__img {
    display: none;
  }
  .navbar img {
    margin: 1em;
    height: 1em ;
    width: auto;
  }

}

@media screen and (max-width: 950px) {
  .nav-link {
    margin-right: 0.8em;
  }
  .navbar img {
    margin: 0.8em;
  }
}

@media screen and (max-width: 770px) {
  .slider__cadence-logo {
    width: 50%;
  }
}
